<body>
  <div class="container">
    <div class="row">
      <h3 style="margin: 5px">Update Contact</h3>
      <form style="width: 100%; margin: 10px" #updateForm="ngForm" (submit)="update($event,name.value,email.value,phone.value)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="cname"  class="form-control" name="name" #name="ngModel" id="name" required aria-describedby="nameHelp" placeholder="John">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="cemail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="email" #email="ngModel" id="email" required placeholder="john@gmail.com">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" [(ngModel)]="cphone" class="form-control" name="phone" #phone="ngModel" id="phone" required placeholder="0333586467">
        </div>
        <button type="submit"  class="btn btn-primary" [disabled]="!updateForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</body>
